nav ul a,
nav .brand-logo {
  color: #ffffff;
}

p {
  line-height: 2rem;
  font-size: 18px;
}

/*home*/

map {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

/*profile page*/

.profile-picture {
  text-align: center;
  margin: 0 auto;
  float: none;
}

.img-circle {
  border-radius: 50%;
  height: 10%;
  width: 10%;
}

.heading {
  text-align: center;
  padding-bottom: 40px;
}

.profile-info {
  margin-bottom: 15px;
}

.profile-top {
  flex-wrap: wrap;
  align-items: center;
}

.profile-name {
  font-size: 30px;
  margin-right: 10px;
}

.profile-status {
  width: auto;
  min-width: 150px;
}

.profile-link, .profile-tabs {
  display: flex;
  flex-wrap: wrap;
}

.profile-contact {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 10px;
}

.profile-edit {
  margin-left: 5px;
  display: inline-block;
}

.product {
  border: solid 1px;
  margin: 10px;
  flex-wrap: wrap;
}